name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        name: Install pnpm
        with:
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@633bb92bc0aabcae06e8ea93b85aecddd374c402
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm build --stub
      - run: pnpm lint:fix
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
        with:
          commit-message: "chore: apply automated updates"
